@{
    ViewBag.Title = "Home Page";
}
<div class="table">
	<div class="jumbotron">
		<h1>MedEvolution</h1>
		<p>Bienvenido al sistema de clinicas</p>
	</div>
	<div>
		<img src="~/Imagenes/logo_med.jpg" />
	</div>
</div>

