@{
    ViewBag.Title = "Home Page";
}
<div>
	<div class="jumbotron table ">
		<ul>
			<li>
					<img src="~/Imagenes/logo_med.jpg" style="width:400px;height:500px;">
			</li>
			<li>
				<p>Bienvenido al sistema de clinicas</p>
			</li>
			
		</ul>
	</div>
	<div >
		
	</div>
</div>

