@model medEvolution.Models.App.Especialidad_Desempeniada

@{
    ViewBag.Title = "Delete";
}

<h2>Borrar</h2>

<h3>¿Está seguro que desea eliminar  la especialidad desempeñada?</h3>
<div>
    <h4>Especialidad Desempeñada</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreEspecialidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreEspecialidad)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Borrar" class="btn btn-danger" />
            </div>
        </div>
        <div>
            @Html.ActionLink(" ", "Index", null, htmlAttributes: new { @class = "btn btn-primary glyphicon glyphicon-step-backward", @title = "Regresar" })
        </div>
    }
</div>
