@model medEvolution.Models.App.Especialidad_Desempeniada

@{
    ViewBag.Title = "Details";
}

<h2>Detalle</h2>

<div>
    <h4>Especialidad Desempeñada</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreEspecialidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreEspecialidad)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink(" ", "Index", null, htmlAttributes: new { @class = "btn btn-primary glyphicon glyphicon-step-backward", @title = "Regresar" })
    @Html.ActionLink(" ", "Edit", new { id = Model.CodigoEspecialidad }, htmlAttributes: new { @class = "glyphicon glyphicon-pencil btn btn-warning", @title = "Editar" })
</p>

